* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-weight: 400;
}

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    color: #343434;
}

.parent{
    background-color: #f7ffd3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 18px;
}

.child {
    background-color: #d3fff8;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 18px;
}

.sub-child {
    background-color: #d3d7ff;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    padding: 18px;
}

.sibling-container{
    background-color: pink;
    min-height: 20vh;
    display: flex;
    padding: 18px;
    justify-content: flex-start;
    align-items: center;
}

.sibling{
    background-color: purple;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
}